body {
    margin: 0 15px;
    font-family: "inter";
}

/* FONT ALL TEXT */
@font-face {
    font-family: "inter";
    src: url(material/Inter.ttf);
}

/* HEADER */
header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
    
    background-color: white;
    position: fixed;
    top: 0;
    left: 15px;
    right: 15px;
}

#nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

#nav-img {
    width: 100px;
    display: flex;
}

#nav-left-text {
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrow {
    padding-bottom: 1px;
}

#nav-right {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-text {
    color: #050505;
    text-decoration: none;
    font-size: 15px;
    padding: 5px 8px;
    border-radius: 5px;
}

#middle-border-nav {
    border-right: 1px solid #e5e5e5;
    height: 20px;
}

.barky-button {
    background-color: #050505;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    font-size: 15px;
}

#hamburger {
    display: none;
    padding: 5px 8px;
}


/* HOVER */
.nav-text:hover { background-color: #f4f4f4; }

.barky-button:hover { background-color: rgb(5, 5, 5, 0.8); }

#footer-box a:hover { text-decoration: underline; }

#emoji-big-box a:hover {
    color: #087fe7;
    text-decoration: underline #050505;
}


/* GENERAL */
main {
    max-width: 1000px;
    margin: 140px auto 0;
}

p {
    color: #666666;
    font-weight: 320;
    line-height: 22px;
}


/* BOX 1 */
#box1 {
    display: flex;
    align-items: center;
    gap: 30px;
}

.box1-boxes {
    flex-basis: 0;
    flex-grow: 1;
}

#box1-h1 {
    font-size: 45px;
    font-weight: 650;
    line-height: 50px;
    margin: 0;
}

#box1-p {
    font-size: 18px;
    font-weight: 320;
    line-height: 25px;
    margin: 10px 0 30px;
    width: 90%;
}

#box1-img { width: 100%; }

/* BRAND BOX */
#brand-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    margin-top: 80px;
    padding: 25px;
}

.rows {
    display: flex;
    gap: 40px;
}

#brand-box img {
    height: 20px;
    object-fit: contain;
}


/* BOX 2, 3, 4 */
.box-trio {  margin-top: 80px; }

.box-trio h1 {
    margin: 0 550px 0 0;
    font-weight: 650;
    font-size: 36px;
}

.box-trio p {
    margin: 10px 0 40px 0;
    line-height: 25px;
    width: 47%;
}

.big-images {
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 550;
    color: #999999;
    margin: 30px;
}

/* FACES */
.face-boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.faces {
    width: 50px;
    object-fit: contain;
}

.face-boxes p {
    font-size: 12px;
    color: #999999;
    margin: 0;
}

h3 {
    font-size: 14px;
    font-weight: 450;
    margin: 0;
}

#border-box-4 {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 80px;
}


/* BOX 5 */
#box-5 {
    text-align: center;
    max-width: 550px;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#box-5 h1 {
    font-weight: 650;
    font-size: 36px;
    margin-bottom: 0;
}

#box-5 p {
    line-height: 25px;
    margin-top: 10px;
}

/* LIST BOX */
#list-box {
    background-color: #f4f4f4;
    max-width: 600px;
    margin: 70px auto;
    padding: 15px 25px;
    border-radius: 8px;
}

.check {  width: 20px; }

.bullets {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
}

#last-bullet {
    display: flex;
    justify-content: space-between;
}

.bullets p {
    margin-top: 12px;
    padding-left: 0;
}

#no-check-p {
    color: #050505;
    font-weight: 400;
}


/* BOX 6 */
#box-6 {
    text-align: center;
    border-top: 1px solid #e5e5e5;
    margin-bottom: 60px;
}

#box-6 h1 { 
    margin: 80px 0 0 0;
    font-size: 36px;
}

#box-6 p {
    margin: 10px 0 0;
}

/* EMOJI */
#emoji-big-box {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

#emoji-big-box a { color: #050505; }

#emoji-big-box h3 {
    font-size: 24px;
    font-weight: 550;
}

#emoji-big-box p { font-size: 15px; }

.emoji-boxes {
    flex-basis: 0;
    flex-grow: 1;
    border-right: 1px solid #e5e5e5;
    padding: 0 30px;
} 

#right-emoji { border-right: none; }


/* BOX 7 */
#h1-box7 {
    margin: 120px 0 40px 0;
    text-align: center;
}

#box-7 {
    display: flex;
    gap: 50px;
    padding: 0 30px 0 30px;
    align-items: center;
}

#box-7 img { width: 130%; }

#box-7 h3 {
    font-size: 18px;
    font-weight: 650;
}

#box-7 a { color: #050505; }

#box-7 p { color: #050505; }


/* PERCENT BOX */
#percent-big-box {
    display: flex;
    text-align: center;
    margin: 60px 0 90px 0;
}

#percent-big-box h2 {
    color: #666666;
    font-size: 45px;
    font-weight: 650;
    margin: 0 0 10px 0;
}

#percent-big-box p { margin: 0; }

.percent-boxes {
    flex-basis: 0;
    flex-grow: 1;
    border-right: 1px solid #e5e5e5;
}

#last-percent-box {
    border-right: none;
}

/* BOX 8 */
#box-8 {
    text-align: center;
    margin-bottom: 80px;
}

#box-8 h1 {
    margin-bottom: 10px;
}

#box-8 p { margin-bottom: 25px; }



/* FOOTER */
footer { border-top: 1px solid #e5e5e5; }

#footer-box {
    max-width: 1200px;
    margin: 80px auto;
    display: flex;
    gap: 100px;
}

#footer-box a {
    text-decoration: none;
    color: #666666;
    font-weight: 320;
}

#footer-icon-box p {
    font-size: 13px;
    color: #050505;
}

#footer-icon-box { width: 230px; }

#footer-link-box {
    display: flex;
    gap: 100px;
}

.links-footer {
    display: flex;
    flex-direction: column;
}

.links-footer p {
    font-weight: 550;
    color: #050505;
    font-size: 14px;
    margin: 0 0 5px 0;
}

.links-footer a {
    font-size: 14px;
    margin: 5px 0;
}

#app-icons {
    width: 25px;
    display: flex;
    gap: 10px;
    margin: 25px 0 60px 0;
}

#brand-img-footer { width: 160px; }


/* MOBIL-ANPASSNING */
@media (max-width: 600px) {

/* HEADER */

    header a { display: none; }

    header {
        border: none;
        max-width: 100%;
        margin: 0 10px 0 5px;
        position: relative;
        left: 0;
        right: 0;
    }

    #middle-border-nav { display: none; }

    #hamburger {
        display: flex;
        height: 25px;
    }

    #hamburger:hover {
        background-color: #f4f4f4;
        padding: 5px 8px;
        border-radius: 5px;
    }

/* MAIN */
    main {
        width: 95%;
        margin-top: 80px;
    }

    /* BOX 1 */
    #box1 {
        flex-direction: column-reverse;
        text-align: center;
        gap: 10px;
        margin: 0 5px 0;
    }

    #box1 h1 { margin: 0 50px 0; }

    #box1 p { 
        margin: 10px 0 30px;
        width: 100%;
    }

    #box1-img {
        width: 90%;
    }

    /* BRAND BOX */
    #brand-box img{ padding: 0 5px; }

    #brand-box { gap: 15px; }

    .rows { gap: 30px; }

    #row1 {
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 20px;
    }

    #row2 {
        flex-wrap: wrap;
        justify-content: center;
    }

    /* BOX 2,3,4 */
    .box-trio { text-align: center; }

    .box-trio h1 { width: 100%; }

    .box-trio p { 
        width: 100%;
        font-size: 18px;
    }

    /* BOX 5 */
    #box-5 p {
        font-size: 18px;
    }

    .box-trio h2 { font-size: 26px; }

    /* EMOJI BOX */
    #emoji-big-box {
        flex-direction: column;
        gap: 40px;
    }

    .emoji-boxes { border-right: none; }

    /* BOX 7 */
    #box-7 {
        flex-direction: column;
        padding: 0;
    }

    #box-7 h3 { font-size: 24px; }

    #box-7 p { margin: 10px 0 0; }

    #box-7 img { width: 100%; }

    /* PERCENT BOX */
    #percent-big-box {
        flex-direction: column;
        gap: 40px;
    }

    .percent-boxes { border-right: none; }

    #percent-big-box h2 { font-size: 53px; }

    #percent-big-box p { font-size: 18px; }

    #box-8 p {
        font-size: 18px;
    }

    .barky-button {
        font-size: 18px;
    }

/* FOOTER */
    #footer-box {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 10px;
    }

    #footer-icon-box { width: 100%; }

    #app-icons { margin-bottom: 30px; }
    
    #footer-link-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        gap: 20px;
    }

    .links-footer {
        flex-direction: column;
        align-items: flex-start;
    }
}