body {
    margin-top: 0;
    font-family: "inter";
}

@font-face {
    font-family: "inter";
    src: url(../material/Inter.ttf);
}

header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
    align-items: center;
}

#nav-left {
 display: flex;
 align-items: center;
 gap: 20px;
}

#nav-left-text {
    display: flex;
    gap: 20px;
}

#nav-right {
    display: flex;
    gap: 20px;
    align-items: center;
}

#nav-img {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
}

.nav-text {
    color: black;
    text-decoration: none;
}

#nav-border {
    border-right: 1px solid gray;
    padding-right: 20px;
}

.barky-button {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(127, 127, 127, 0.3);
}

main {
    max-width: 1000px;
    margin: 80px auto 0;
}

p {
    color: #666666;
}

/* BOX 1 */

#box1 {
    display: flex;
    gap: 100px;
    align-items: center;
}


#box1-left { }


#box1-h1 {
    font-size: 53px;
    font-weight: 650;
}

#box1-p {
    font-size: 18px;
    font-weight: 320;
    line-height: 25px;
}

/* ÄNDRA STORLEK PÅ FONT OCH PADDING
#box1-button { } */

#box1-img {
    width: 450px;
    
}

#brand-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 100px;

    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    margin-top: 80px;
    padding: 20px;
}

#row1 {
    display: flex;
    gap: 40px;
}

#row2 {
    display: flex;
    gap: 40px;
}

#brand-box img {
    width: 90px;
    object-fit: contain;
}



/* BOX 2 */
.face-boxes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.faces {
    width: 50px;
    object-fit: contain;
}

.face-boxes p {
    font-size: 12px;
    color: #999999;
    font-weight: 320;
    margin: 0;
    padding-bottom: 0;
}



h3 {
    font-size: 14px;
    font-weight: 450;
    margin: 0;
    
}

.big-images {
    width: 1000px;
    box-shadow: 0px 4px 8px rgba(127, 127, 127, 0.3);
    border-radius: 8px;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 550;
    color: #999999;
}

#box2 {
    margin-top: 80px;
}

#box2 p {
    width: 480px;
    margin-top: 10px;
    padding-bottom: 25px;
    font-weight: 320;
    line-height: 25px;
}

#box2 h1 {
    margin: 0;
    font-weight: 650;
    font-size: 36px;
}

/* FÄRGER:
#050505, #121212, #353535, #666666, #7f7f7f, #999999, #e5e5e5, #f4f4f4 och #087fe7 */