body {
    margin-top: 0;
    font-family: "inter";
}

@font-face {
    font-family: "inter";
    src: url(material/Inter.ttf);
}

header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
    
    background-color: white;
    position: fixed;
    top: 0;
    left: 20px;
    right: 20px;
}

#nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

#nav-left-text {
    display: flex;
    gap: 10px;
}

#nav-right {
    display: flex;
    gap: 10px;
    align-items: center;
}

#nav-img {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
}

.nav-text {
    color: black;
    text-decoration: none;
    font-size: 15px;
    padding: 5px 8px;
}

#middle-border-nav {
    border-right: 1px solid #e5e5e5;
    height: 20px;
}

.barky-button {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    font-size: 15px;
}

#hamburger {
    display: none;
    padding: 5px 8px;
}

/* HOVER */
.nav-text:hover {
    background-color: #f4f4f4;
    padding: 5px 8px;
    border-radius: 5px;
}

.barky-button:hover {
    background-color: rgb(0, 0, 0, 0.8);
    padding: 8px 12px;
    border-radius: 5px;
}

#footer-box a:hover {
    text-decoration: underline;
}

#emoji-big-box a:hover {
    color: #087fe7;
    text-decoration: underline black;
}


main {
    max-width: 1000px;
    margin: 80px auto 0; /* ??? */
}

p {
    color: #666666;
    font-weight: 320;
}


/* BOX 1 */

#box1 {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 140px;
}

.box1-boxes {
    flex-basis: 0;
    flex-grow: 1;
}

#box1-right {
    padding-left: 60px;
}

#box1-h1 {
    font-size: 45px;
    font-weight: 650;
}

#box1-p {
    font-size: 18px;
    font-weight: 320;
    line-height: 25px;
}

/* ÄNDRA STORLEK PÅ FONT OCH PADDING
#box1-button { } */

#box1-img {
    width: 100%;
}

#brand-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    margin-top: 80px;
    padding: 20px;
}

#row1 {
    display: flex;
    gap: 40px;
}

#row2 {
    display: flex;
    gap: 40px;
}

#brand-box img {
    height: 20px;
    object-fit: contain;
}



/* BOX 2, 3, 4 */
.face-boxes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.faces {
    width: 50px;
    object-fit: contain;
}

.face-boxes p {
    font-size: 12px;
    color: #999999;
    font-weight: 320;
    margin: 0;
    padding-bottom: 0;
}



h3 {
    font-size: 14px;
    font-weight: 450;
    margin: 0;
}

.big-images {
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 550;
    color: #999999;
}

.box-trio {
    margin-top: 80px;
}

.box-trio p {
    width: 480px;
    margin-top: 10px;
    padding-bottom: 25px;
    line-height: 25px;
}

.box-trio h1 {
    margin: 0;
    font-weight: 650;
    font-size: 36px;
}

#border-box-4 {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 80px;
}

#box-5 {
    text-align: center;
    max-width: 550px;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#box-5 h1 {
    font-weight: 650;
    font-size: 36px;
    margin-bottom: 0;
}

#box-5 p {
    line-height: 25px;
    margin-top: 10px;
}

#list-box {
    background-color: #f4f4f4;
    max-width: 600px;
    margin: 70px auto;
    padding: 15px 25px;
    border-radius: 8px;
}

.check {
    width: 20px;
}

.bullets {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
}

#last-bullet {
    display: flex;
    justify-content: space-between;
}

.bullets p {
    margin-top: 12px;
    padding-left: 0;
}

#no-check-p {
    color: black;
    font-weight: 400;
}



#box-6 {
    text-align: center;
    border-top: 1px solid #e5e5e5;
    margin-bottom: 60px;
    
}

#box-6 h1 {
    margin-bottom: 0;
    margin-top: 80px;
}

/* EMOJI */
#emoji-big-box {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

#emoji-big-box a {
    color: black;
}

#emoji-big-box h3 {
    font-size: 24px;
    font-weight: 550;
}

#emoji-big-box p {
    font-size: 15px;
}

.emoji-boxes {
    flex-basis: 0;
    flex-grow: 1;
    border-right: 1px solid #e5e5e5;
    padding: 0 25px;
} 

#right-emoji {
    border-right: none;
}


/* BOX 7 */
#h1-box7 {
    margin-top: 80px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 120px;
}

#box-7 {
    display: flex;
    gap: 50px;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
}

#box-7 img {
    width: 130%;
}

#box-7 h3 {
    font-size: 18px;
    font-weight: 650;
}

#box-7 a {
    color: black;
}

#box-7 p {
    color: black;
}


/* PERCENT BOX */
#percent-big-box {
    display: flex;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 90px;
}

#percent-big-box h2 {
    color: #666666;
    font-size: 45px;
    font-weight: 650;
    margin-top: 0;
    margin-bottom: 10px;
}

#percent-big-box p {
    margin: 0;
}

.percent-boxes {
    flex-basis: 0;
    flex-grow: 1;
    border-right: 1px solid #e5e5e5;
}

#last-percent-box {
    border-right: none;
}

/* BOX 8 */
#box-8 {
    text-align: center;
    margin-bottom: 80px;
}

#box-8 h1 {
    margin-bottom: 10px;
}

#box-8 p {
    margin-bottom: 25px;
}



/* FOOTER */
footer {
    border-top: 1px solid #e5e5e5;
}

#footer-box {
    max-width: 1200px;
    margin: 80px auto;
   display: flex;
   gap: 100px;
}

#footer-box a {
    text-decoration: none;
    color: #666666;
    font-weight: 320;
}

#footer-icon-box p {
    font-size: 13px;
    color: black;
}

#footer-icon-box {
    width: 230px;
}

#footer-link-box {
    display: flex;
    gap: 100px;
}

.links-footer {
    display: flex;
    flex-direction: column;
}

.links-footer p {
    font-weight: 550;
    color: black;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 0;
}

.links-footer a {
    font-size: 14px;
    margin: 5px 0;
}

#app-icons {
    width: 25px;
    display: flex;
    gap: 10px;
    margin-top: 25px;
    margin-bottom: 60px;
}

#brand-img-footer {
    width: 160px;
}


@media (max-width: 600px) {
 
    header a {
        display: none;
    }

    header {
        border: none;
        max-width: 590px;
        position: relative;
        left: 0;
        right: 0;
    }

    #middle-border-nav {
        display: none;
    }

    #hamburger {
        display: flex;
        height: 25px;
    }

    #hamburger:hover {
        background-color: #f4f4f4;
        padding: 5px 8px;
        border-radius: 5px;
    }

    main {
        width: 95%;
    }

    #box1 {
        flex-direction: column-reverse;
        text-align: center;
        margin-top: 80px;
    }

    #box1 h1 {
        margin-left: 50px;
        margin-right: 50px;
    }

    #box1 p {
        margin-left: 20px;
        margin-right: 20px;
    }

    #brand-box img{
        padding: 0 5px;
    }

    #row1 {
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 20px;
    }

    #row2 {
        flex-wrap: wrap;
        justify-content: center;
    }

    .box-trio {
        text-align: center;
    }

    .box-trio p {
        width: 100%;
    }

    .box-trio h2 {
        font-size: 26px;
    }

    #emoji-big-box {
        flex-direction: column;
        gap: 40px;
        
    }

    .emoji-boxes {
        border-right: none;
    }

    #box-7 {
        flex-direction: column;
        padding: 0;
    }

    #box-7 h3 {
        font-size: 24px;
    }

    #box-7 p {
        margin-top: 10px;
    }

    #box-7 img {
        width: 100%;
    }

    #percent-big-box {
        flex-direction: column;
        gap: 40px;
    }

    .percent-boxes {
        border-right: none;
    }


    #footer-box {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 10px;
    }

    #footer-icon-box {
        width: 100%;
    }

    #app-icons {
        margin-bottom: 30px;
    }
    
    #footer-link-box {
        flex-wrap: wrap;
        width: 80%;
        flex-basis: 0;
        flex-grow: 1;
    }
    

}
    

/* FÄRGER:
#050505, #121212, #353535, #666666, #7f7f7f, #999999, #e5e5e5, #f4f4f4 och #087fe7 */