body {
    margin-top: 0;
    font-family: "inter";
}

@font-face {
    font-family: "inter";
    src: url(../material/Inter.ttf);
}

header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
    align-items: center;

    background-color: white;
    position: fixed;
    top: 0;
    left: 20px;
    right: 20px;
}

#nav-left {
 display: flex;
 align-items: center;
 gap: 20px;
}

#nav-left-text {
    display: flex;
    gap: 20px;
}

#nav-right {
    display: flex;
    gap: 20px;
    align-items: center;
}

#nav-img {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
}

.nav-text {
    color: black;
    text-decoration: none;
}

#nav-border {
    border-right: 1px solid gray;
    padding-right: 20px;
}

.barky-button {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(127, 127, 127, 0.2);
}

main {
    max-width: 1000px;
    margin: 80px auto 0; /* ??? */
}

p {
    color: #666666;
    font-weight: 320;
    
}

/* BOX 1 */

#box1 {
    display: flex;
    align-items: center;
}


#box1-left { 
    padding-right: 40px:
}

#box1-right {
    padding: ;
    
}


#box1-h1 {
    font-size: 45px;
    font-weight: 650;
}

#box1-p {
    font-size: 18px;
    font-weight: 320;
    line-height: 25px;
}

/* ÄNDRA STORLEK PÅ FONT OCH PADDING
#box1-button { } */

#box1-img {
    width: 100%;

}

#brand-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 100px;

    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    margin-top: 80px;
    padding: 20px;
}

#row1 {
    display: flex;
    gap: 40px;
}

#row2 {
    display: flex;
    gap: 40px;
}

#brand-box img {
    width: 90px;
    object-fit: contain;
}



/* BOX 2, 3, 4 */
.face-boxes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.faces {
    width: 50px;
    object-fit: contain;
}

.face-boxes p {
    font-size: 12px;
    color: #999999;
    font-weight: 320;
    margin: 0;
    padding-bottom: 0;
}



h3 {
    font-size: 14px;
    font-weight: 450;
    margin: 0;
}

.big-images {
    width: 1000px;
    box-shadow: 0px 0px 20px rgba(127, 127, 127, 0.2);
    border-radius: 8px;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 550;
    color: #999999;
}

#box-trio {
    margin-top: 80px;
}

#box-trio p {
    width: 480px;
    margin-top: 10px;
    padding-bottom: 25px;
    line-height: 25px;
}

#box-trio h1 {
    margin: 0;
    font-weight: 650;
    font-size: 36px;
}

#border-box-4 {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 80px;
}

#box-5 {
    text-align: center;
    max-width: 550px;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#box-5 h1 {
    font-weight: 650;
    font-size: 36px;
    margin-bottom: 0;
}

#box-5 p {
    line-height: 25px;
    margin-top: 10px;
}

#list-box {
    background-color: #f4f4f4;
    max-width: 600px;
    margin: 70px auto;
    padding: 15px 25px;
    border-radius: 8px;
}

.check {
    width: 20px;
}

.bullets {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
}

#last-bullet {
    display: flex;
    justify-content: space-between;
}

.bullets p {
    margin-top: 12px;
    padding-left: 0;
}

#no-check-p {
    color: black;
    font-weight: 400;
}

footer {
    border-top: 1px solid #e5e5e5;
}

#footer-box {
    max-width: 1200px;
    margin: 80px auto;
    display: flex;
    gap: 100px;
}

#footer-box a {
    text-decoration: none;
    color: #666666;
    font-weight: 320;
}

#footer-icon-box p {
    font-size: 13px;
    color: black;
}

#footer-icon-box {
    width: 230px;
}

.links-footer {
    display: flex;
    flex-direction: column;
}

.links-footer p {
    font-weight: 550;
    color: black;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 0;
}

.links-footer a {
    font-size: 14px;
    margin: 5px 0;
}

#app-icons {
    width: 25px;
    display: flex;
    gap: 10px;
    margin-top: 25px;
    margin-bottom: 60px;
}

#brand-img-footer {
    width: 160px;
}

#box-6 {
    text-align: center;
    border-top: 1px solid #e5e5e5;
    margin-bottom: 60px;
    
}

#box-6 h1 {
    margin-bottom: 0;
    margin-top: 80px;
}

#emoji-big-box {
    display: flex;
    text-align: center;
    gap: 55px;
}

#emoji-big-box a {
    color: black;
}

#emoji-big-box h3 {
    font-size: 24px;
    font-weight: 550;
}

#emoji-big-box p {
    font-size: 15px;
}

#middle-emoji {
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    padding-left: 20px;
    padding-right: 20px;
}

/*
#left-emoji {
    margin-right: 20px;
    margin-left: 10px;
}

#right-emoji {
    margin-left: 20px;
    margin-right: 10px;
}
    */


#box-7 {
    display: flex;
    gap: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

#box-7 img {
    width: 100%;
}

#h1-box7 {
    margin-top: 80px;
    text-align: center;
}


#percent-big-box {
    display: flex;
    text-align: center;
}

#percent-big-box h2 {
    color: #666666;
    font-size: 45px;
    font-weight: 650;
}

.percent-borders {
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}

.percent-boxes {
    flex-basis: 0;
    flex-grow: 1;
}

#box-8 {
    text-align: center;
    margin-bottom: 80px;
}

/* FÄRGER:
#050505, #121212, #353535, #666666, #7f7f7f, #999999, #e5e5e5, #f4f4f4 och #087fe7 */